body {
  margin: 0;
  padding: 0;
  font-family: $mainFontFamily;
  color: $mainFontColor;
  background-color: $mainBcg;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-title {
  @extend %text;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}