$mainFontColor: #212121;
$secFontColor: #000;
$parFontColor: #757575;
$mainBcg: #f5f4fa;
$white: #ffffff;
$footBcg: #2f303a;
$iconColor:#afb1b8;
$styleColor:#2196f3;
$hoverColor:#188ce8;
$headerBorder: #ececec;
$mainFontFamily: "Roboto", "Helvetica", "Tahoma", sans-serif;
$logoFontFamily: "Raleway", sans-serif;